site/
fab/
case/*.step
case/*.stl
station/*.step
station/*.stl
station/*.dxf
station/*.pdf
__pycache__/
*.kicad_prl
station/cad/
pcb/vein_unit_board/*.kicad_pcb
pcb/vein_unit_board/*.kicad_pro
pcb/vein_unit_board/fp-lib-table
